- cat_link ||= true
-if category.has_subcat?
  = link_to show_subcategories_category_path(category.id), {remote: true, :id => "show_subcategory_icon_#{category.id}", :class => "sub_#{level}"} do
    %span{:class => ["glyphicon","glyphicon-plus-sign", "glyphicon-center"]}
- if cat_link == true
  = link_to most_watched_category_path(category), { remote: true } do
    #{category.name}
  - unless category == categories.last
    |